<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="dashboard-row">
            <div class="dashboard-info-item" @click="redirectTo('/campaign')">
                <div class="info-box" >

                        <div class="content" >
                            <b>Campaigns</b>
                            <div class="number">{{ counters && counters.campaign || 0}}</div>
                        </div>
                        <i class="material-icons">playlist_add_check</i>


                </div>
            </div>

            <div class="dashboard-info-item" @click="redirectTo('/customers')">
                <div class="info-box">
                    <div class="content">
                        <b>Customers</b>
                        <div class="number">{{ counters && counters.customers || 0}}</div>
                    </div>
                    <i class="material-icons">person</i>
                </div>
            </div>

            <div class="dashboard-info-item" @click="redirectTo('/campaign')">
                <div class="info-box">
                    <div class="content">
                        <b>Availed Offers</b>
                        <div class="number">{{ counters && counters.availed_offer || 0}}</div>
                    </div>
                    <i class="material-icons">playlist_add_check</i>
                </div>
            </div>

        </div>

        <div class="app-card">
            <div class="app-card-header">
                <h6>Recent Customers</h6>
            </div>
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-scroll">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Points</th>
                            <th>Spent</th>
                            <th>Balance</th>
                            <th>Loyalty Number</th>
                            <th>Start Date</th>
                        </tr>
                        </thead>
                        <tbody id="table-body-listing" v-show="!! tableRecords.length">
                        <tr v-for="(row,index) in tableRecords">
                            <td >{{ ++index }}</td>
                            <td class="text-capitalize">{{ row.name }}</td>
                            <td>{{ row.email }}</td>
                            <td class="text-capitalize">{{ row.gender }}</td>
                            <td>{{ row.points }}</td>
                            <td>{{ row.spent }}</td>
                            <td>{{ row.balance }}</td>
                            <td>{{ row.loyalty_number }}</td>
                            <td>{{ row.start_date }}</td>
                        </tr>
                        </tbody>
                        <tfoot v-show="!! !tableRecords.length">
                        <tr>
                            <td colspan="10" class="text-center"> No Records Found.</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
        },
        name: "List",
        data(){
          return{
              isLoading:false,
              tableRecords:[],
              tableLastPage:1,
              tablePage:1,
              counters:{},
          };
        },
        methods:{
            redirectTo(segment) {
                window.location.href = window.location.origin + segment;
            },
            get() {
                let base = this;
                base.tableRecords = [];
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.index,
                    method: 'GET',
                }).then((response) => {
                    base.counters = response.data;
                })
                .catch((errors) => {

                })
                .finally(() => {
                    this.isLoading = false;
                });
                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            loadMore () {
                let base = this;

                if(base.tablePage <= base.tableLastPage) {
                    base.isLoading = true;
                    this.$store.dispatch('si/getEntity', {
                        inputs: {},
                        URL: this.urls.customer_index+"?recent=1&page="+base.tablePage,
                        method: 'GET',
                    }).then((response) => {
                        base.tableRecords = base.tableRecords.concat(response.data.data);
                        base.tablePage++;
                        if(base.tableLastPage == 1)
                            base.tableLastPage = response.data.last_page;

                    })
                    .catch((errors) => {

                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
                }


                return true;
            },
        },
        mounted() {
            this.get();
            const listElm = document.querySelector('#table-body-listing');
            listElm.addEventListener('scroll',
                e => {
                    if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
                        this.loadMore();
                    }
                });
            this.loadMore();
        }
    }
</script>

<style scoped>
    .table-scroll tbody{
        display: block;
        height: 500px;
        overflow: auto;
    }

    .table-scroll thead,
    .table-scroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
