<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3 v-if="is_edit=='new'">Add Customer</h3>
            <h3 v-else>Update Customer</h3>
        </div>
        <div class="app-card careate-box">
            <div class="app-card-header">
                <h6>Customer Details</h6>
            </div>
            <div class="app-card-body">
                <div class="app-card-content">
                    <div class="input-filed">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" v-model="name">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.name">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email" v-model="email">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.email">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>DOB</label>
                        <div>
                            <date-picker v-model="dob" type="date" value-type="format" format="YYYY-MM-DD" :disabled-date="notAfterToday"></date-picker>
                        </div>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.dob">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Points</label>
                        <input type="number" class="form-control" placeholder="Points" v-model="points">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.points">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Gender</label>
                        <div>
                            <span><input type="radio" v-model="gender" value="male"> Male</span>
                            <span><input type="radio" v-model="gender" value="female"> Female</span>
                            <span><input type="radio" v-model="gender" value="other"> Other</span>
                        </div>
                    </div>
                </div>

                <div class="app-card-footer">
                    <a href="#" class="btn-sm btn-primary" @click="sendForm">Save</a>
                    <a href="#" class="btn-sm btn-gray" @click="changeComponent()">Back</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapFields} from "vuex-map-fields";
    import Loading from 'vue-loading-overlay';

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';

    var computedVar = "customers";
    export default {
        props:['permissions', 'urls', 'moduleData', 'is_edit'],
        components:{
            Loading,
            DatePicker
        },
        name: "CreateEdit",
        data(){
            return{
                isLoading:false,
            };
        },
        computed: {
            ...mapFields('si', [
                computedVar+'.formFields.id',
                computedVar+'.formFields.name',
                computedVar+'.formFields.email',
                computedVar+'.formFields.dob',
                computedVar+'.formFields.gender',
                computedVar+'.formFields.points'
            ]),
            ...mapGetters({
                getErrors: `si/${computedVar}/getErrors`,
            }),
        },
        created() {

            if(typeof this.is_edit == 'number')
                this.editForm(this.is_edit);
        },
        methods:{
            notAfterToday(date) {
                return date > moment();
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            editForm(id) {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit.replace('__', id),
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    this.$store.commit(`si/${computedVar}/setStates`, data);
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            sendForm() {
                let base = this, method = "post", url = this.urls.store;
                if(base.is_edit != "new"){
                    url = this.urls.update.replace('__', this.is_edit);
                    method = "put";
                }
                base.isLoading = true;
                base.$store.dispatch('si/postForm', {
                    inputs: base.$store.state.si.customers.formFields,
                    URL: url,
                    method: method,
                }).then((response) => {
                    let data = response.data;
                    if (response.status === 200) {
                        Vue.$toast.success(data.message);
                        base.$emit('clickChangeComponent');
                    }
                }).catch((errors) => {
                    if (errors.status === 422) {
                        base.$store.commit(`si/${computedVar}/setError`, errors.data);
                    } else {
                        Vue.$toast.error(errors.data.message);
                    }
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
        }
    }
</script>

<style scoped>

</style>
