<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3 v-if="is_edit=='new'">Add Customer Level</h3>
            <h3 v-else>Update Customer Level</h3>
        </div>
        <div class="app-card careate-box">
            <div class="app-card-header">
                <h6>Customer level Details</h6>
            </div>
            <div class="app-card-body">
                <div class="app-card-content">
                    <div class="input-filed">
                        <label>Level Name</label>
                        <input type="text" class="form-control" placeholder="Level Name" v-model="label">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.label">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>
                    <div class="input-filed">
                        <label>Discount Code</label>
                        <select v-if="is_edit == 'new'" class="form-control" @change="changeDiscount" v-model="discount_id">
                            <option value="" disabled>--Select--</option>
                            <option v-for="(item, index) in options.discountCode"  :value="item.id">{{item.discount_code}}</option>
                        </select>
                        <input v-else type="text" class="form-control" disabled placeholder="Discount Code" v-model="selected_discount.discount_code">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.discount_id">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>
                    <div class="input-filed">
                        <label>Summary</label>
                        <input type="text" class="form-control" disabled placeholder="Summary" v-model="selected_discount.summary">
                    </div>
                    <div class="input-filed">
                        <label>Require Points</label>
                        <input type="number" class="form-control" placeholder="Require Points" v-model="require_points">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.require_points">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>
                </div>

                <div class="app-card-footer">
                    <a href="#" class="btn-sm btn-primary" @click="sendForm">Save</a>
                    <a href="#" class="btn-sm btn-gray" @click="changeComponent()">Back</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapFields} from "vuex-map-fields";
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);

    var computedVar = "customerLevel"; // also change in line 73
    export default {
        props:['permissions', 'urls', 'moduleData', 'is_edit'],
        components:{
            Loading
        },
        name: "CreateEdit",
        data(){
            return{
                isLoading:false,
                options:{
                    discountCode:[],
                },
                selected_discount:'',
            };
        },
        computed: {
            ...mapFields('si', [
                computedVar+'.formFields.id',
                computedVar+'.formFields.label',
                computedVar+'.formFields.discount_id',
                computedVar+'.formFields.require_points',
            ]),
            ...mapGetters({
                getErrors: `si/${computedVar}/getErrors`,
            }),
        },
        created() {
            this.getdiscountCode();
            if(typeof this.is_edit == 'number')
                this.editForm(this.is_edit);
        },
        methods:{
            changeDiscount() {
              let base = this;
              this.selected_discount = this.options.discountCode.find(item => item.id === base.discount_id)
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            getdiscountCode() {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.discount_code+"?type=customer_level&mode="+base.is_edit,
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    base.options.discountCode = data;
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            editForm(id) {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit.replace('__', id),
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    this.$store.commit(`si/${computedVar}/setStates`, data);
                    base.changeDiscount();
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            sendForm() {
                let base = this, method = "post", url = this.urls.store;
                if(base.is_edit != "new"){
                    url = this.urls.update.replace('__', this.is_edit);
                    method = "put";
                }
                base.isLoading = true;
                base.$store.dispatch('si/postForm', {
                    inputs: this.$store.state.si.customerLevel.formFields,
                    URL: url,
                    method: method,
                }).then((response) => {
                    let data = response.data;

                    Vue.$toast.success(data.message);
                    base.$emit('clickChangeComponent');

                    base.$store.commit(`si/${computedVar}/initError`)
                }).catch((errors) => {
                    if (errors.status === 422) {
                        base.$store.commit(`si/${computedVar}/setError`, errors.data);
                    } else {
                        Vue.$toast.error(errors.data.message);
                    }
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
        }
    }
</script>

<style scoped>

</style>
