<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3>Customer Levels</h3>
        </div>
        <div class="app-card customer-level-main">
            <div class="app-card-header">
                <h6>Customer Levels</h6>
                <span class="float-right" @click="changeComponent('create-edit', 'new')"> Add New</span>
            </div>
            <div class="app-card-body">
                <div class="row">
                    <div class="table-responsive col-md-6">
                        <table class="table table-hover table-scroll">
                            <thead>
                            <tr>
                                <th>Customer Levels</th>
                                <th>Required Points</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="table-body-listing" v-show="!! tableRecords.length">
                            <tr v-for="(row,index) in tableRecords">
                                <td class="text-capitalize">{{ row.label }}</td>
                                <td>{{ row.require_points }}</td>
                                <td><a href="#" class="btn-sm app-action-url" @click="changeComponent('create-edit', row.id)">
                                    <i class="material-icons">edit</i>
                                </a></td>
                            </tr>
                            </tbody>
                            <tfoot v-show="!! !tableRecords.length">
                            <tr>
                                <td colspan="3" class="text-center"> No Records Found.</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <zingchart ref="pie_chart" :data="pieChart" :height="300" :width="600"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import zingchartVue from 'zingchart-vue';
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
            zingchart:zingchartVue
        },
        name: "List",
        data(){
            let base = this;
          return{
              isLoading:false,
              tableRecords:[],
              tableLastPage:1,
              tablePage:1,

              pieChart:base.$helpers.pieChart(),
          };
        },
        methods:{
            loadMore () {
                let base = this;

                if(base.tablePage <= base.tableLastPage) {
                    base.isLoading = true;
                    this.$store.dispatch('si/getEntity', {
                        inputs: {},
                        URL: this.urls.index+"&page="+base.tablePage,
                        method: 'GET',
                    }).then((response) => {
                        base.tableRecords = base.tableRecords.concat(response.data.data);
                        base.tablePage++;
                        if(base.tableLastPage == 1)
                            base.tableLastPage = response.data.last_page;
                    })
                    .catch((errors) => {

                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
                }

                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            initChart(){
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.index+"&type=chart",
                    method: 'GET',
                }).then((response) => {
                    let chart = [];
                    $.each(response.data,function (index,item) {
                        chart.push({ values:[item.count], text:item.label })
                    });
                    base.pieChart.series = chart;
                    base.$refs.pie_chart.setdata({
                        data: base.pieChart
                    });
                })
                .catch((errors) => {

                })
                .finally(() => {
                    this.isLoading = false;
                });

            }
        },
        mounted() {
            const listElm = document.querySelector('#table-body-listing');
            listElm.addEventListener('scroll',
                e => {
                    if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
                        this.loadMore();
                    }
                });
            this.loadMore();
            this.initChart();
        }
    }
</script>

<style>
    .table-scroll tbody{
        display: block;
        height: 500px;
        overflow: auto;
    }

    .table-scroll thead,
    .table-scroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #zingchart-vue-1-license-text, #zingchart-vue-0-license-text, .zc-ref {
        display: none !important;
    }
    .zc-rel div{
        display: none !important;
    }

</style>
