.text-muted{
    color:#6c757d!important;
}
.text-primary{
    color: #007bff!important;
}
.text-success{
    color: #28a745!important;
}
.text-info{
    color: #17a2b8!important;
}
.text-warning{
    color: #ffc107!important;
}
.text-danger{
    color: #dc3545!important;
}
.text-secondary{
    color: #6c757d!important;
}
.text-dark{
    color: #343a40!important;
}
.text-body{
    color: #212529!important;
}
.text-light{
    color: #f8f9fa!important;
}
.text-white{
    color: #fff!important;
}

.text-capitalize{
    text-transform: capitalize;
}

[disabled='disabled']{
    cursor:not-allowed;
}

.table td, .table th{
    white-space: unset;
    word-break: break-word;
}
