<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3>Update Earning Rule</h3>
        </div>
        <div class="app-card earning-box">

            <div class="app-card-body">
                <h6 class="card-inside-title">{{ label }}</h6>
                <div class="input-filed">
                    <label>Number of points awarded for this action</label>
                    <input type="number" class="form-control" v-model="points" placeholder="Number of points">
                </div>

                <div class="input-filed" v-if="slug == 'shopping'">
                    <label>Amount for each point</label>
                    <input type="number" class="form-control" v-model="amount" placeholder="Number of points">
                </div>

                <div class="input-filed">
                    <a href="#" class="btn btn-sucess" @click="sendForm">Save</a>
                    <a href="#" class="btn btn-sucess"  @click="changeComponent('list', 'new')">Back</a>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapFields} from "vuex-map-fields";
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);

    var computedVar = "earningPoints";
    export default {
        props:['permissions', 'urls', 'moduleData', 'is_edit'],
        components:{
            Loading
        },
        name: "CreateEdit",
        data(){
            return{
                isLoading:false,
            };
        },
        computed: {
            ...mapFields('si', [
                computedVar+'.formFields.id',
                computedVar+'.formFields.label',
                computedVar+'.formFields.status',
                computedVar+'.formFields.points',
                computedVar+'.formFields.amount',
                computedVar+'.formFields.slug',
            ]),
            ...mapGetters({
                getErrors: `si/${computedVar}/getErrors`,
            }),
        },
        created() {

            if(typeof this.is_edit == 'number')
                this.editForm(this.is_edit);
        },
        methods:{
            changeComponent(component,id) {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            editForm(id) {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit.replace('__', id),
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    this.$store.commit(`si/${computedVar}/setStates`, data);
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            sendForm() {
                this.isLoading = true;
                this.$store.dispatch('si/postForm', {
                    inputs: this.$store.state.si.earningPoints.formFields,
                    URL: this.urls.update.replace('__', this.is_edit),
                    method: 'post',
                }).then((response) => {
                    let data = response.data;
                    if (response.status === 200) {
                        Vue.$toast.success(data.message);
                        this.$emit('clickChangeComponent');
                    }
                }).catch((errors) => {
                    if (errors.status === 422) {
                        this.$store.commit(`si/${computedVar}/setError`, errors.data);
                    } else {
                        Vue.$toast.error(errors.data.message);
                    }
                })
                .finally(() => {
                    this.isLoading = false;
                });
                return true;
            },
        }
    }
</script>

<style scoped>

</style>
