<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3>Earning Rules</h3>
        </div>
        <div class="app-card">
            <div class="app-card-header">
                <h6>Earning Rules</h6>
                <span> <a href="/"> Back to Home </a> </span>
            </div>
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Earning Type</th>
                            <th>Points Value</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in tableRecords">
                            <td>{{ ++index }}</td>
                            <td><a href="#">{{item.label}}</a></td>
                            <td>{{item.points}} Points</td>
                            <td>
                                <toggle-button @change="onStatusChange(item, $event)" :sync="true" :value="!! item.status"
                                               :labels="{checked: 'On', unchecked: 'Off'}"/>
                            </td>
                            <td>
                                <a href="#" class="btn-sm app-action-url" @click="changeComponent('create-edit', item.id)">
                                    <i class="material-icons">create</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { ToggleButton } from 'vue-js-toggle-button';
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
            ToggleButton
        },
        name: "List",
        data(){
          return{
              isLoading:false,
              tableRecords:[],
          };
        },
        methods:{
            onStatusChange(item, event) {
                item.status = event.value;
                let base = this;
                let param = "&methodType=statusChanged&id="+item.id+"&status="+event.value;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.index+param,
                    method: 'GET',
                }).then((response) => {
                    Vue.$toast.success(response.data.message);
                })
                .catch((errors) => {
                    item.status = ! event.value;
                    Vue.$toast.error(errors.data.message);
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            get() {
                let base = this;
                base.tableRecords = [];
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.index,
                    method: 'GET',
                }).then((response) => {
                    base.tableRecords = response.data;
                })
                .catch((errors) => {

                })
                .finally(() => {
                    this.isLoading = false;
                });
                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
        },
        mounted() {
            this.get();
        }
    }
</script>

<style scoped>

</style>
