<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3>Display Setting</h3>
        </div>
        <div class="app-card">
            <div class="app-card-header">
                <h6>Display Setting</h6>
            </div>
            <div class="app-card-body">

                <div class="app-card-content">
                    <div class="input-filed" v-if="moduleData.featurePlanLogo">
                        <img :src="logo_path" alt="user-avatar" class="avatar" v-if="logo_path !=='' ">
                        <img src="/images/widget.svg" alt="user-avatar" class="avatar" v-else>
                        <div class="form-group"><label for="image">Upload your logo</label><br> <input accept="image/*" name="image" type="file" @change="previewFiles" ref="image" id="image">
                        </div>
                    </div>
                    <div class="input-filed" v-else>
                        <img src="/images/widget.svg" alt="user-avatar" class="avatar">
                    </div>

<!--                    <div class="input-filed">-->
<!--                        <label>Widget Text</label>-->
<!--                        <input type="text" class="form-control" v-model="widget_text">-->
<!--                    </div>-->

                    <div class="input-filed">
                        <label>Header Text</label>
                        <input type="text" class="form-control" v-model="common_data.section_header_text">
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Header Text Color:" v-if="!isLoading" :color="common_data.section_header_color" v-model="common_data.section_header_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Header Background Color:" v-if="!isLoading" :color="common_data.section_header_bg_color" v-model="common_data.section_header_bg_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Section Text Color:" v-if="!isLoading" :color="common_data.section_text_color" v-model="common_data.section_text_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Section Background Color:" v-if="!isLoading" :color="common_data.section_bg_color" v-model="common_data.section_bg_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Button Text Color:" v-if="!isLoading" :color="common_data.btn_text_color" v-model="common_data.btn_text_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Button Background Color:" v-if="!isLoading" :color="common_data.btn_bg_color" v-model="common_data.btn_bg_color" />
                    </div>

                    <div class="input-filed">
                        <ColorPicker class="wd-3 text-black-700" label="Button Border Color:" v-if="!isLoading" :color="common_data.btn_border_color" v-model="common_data.btn_border_color" />
                    </div>

                    <div class="input-filed">
                        <label>Button Border radius(px)</label>
                        <input type="number" min="0" class="form-control" v-model="common_data.btn_border_radius">
                    </div>

                    <div class="input-filed">
                        <label>Button Border size(px)</label>
                        <input type="number" min="0" class="form-control" v-model="common_data.btn_border_size">
                    </div>
                </div>
                <div class="app-card-footer">
                    <a href="#" class="btn-sm btn-primary" @click="sendForm">Save</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { ToggleButton } from 'vue-js-toggle-button';
    import Loading from 'vue-loading-overlay';
    import ColorPicker from "./ColorPicker";
    Vue.use(Loading);

    var computedVar = "displaySetting";
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
            ToggleButton,
            ColorPicker
        },
        name: "List",
        data(){
          return{
              isLoading:false,
              file:'',
              widget_text:"",
              logo_path:"/images/widget.svg",
              common_data: {
                  "section_header_text":"",
                  "section_header_color":"",
                  "section_header_bg_color":"",
                  "section_bg_color":"#000000",
                  "section_text_color":"#000000",
                  "btn_bg_color":"#000000",
                  "btn_text_color":"#000000",
                  "btn_border_radius":"",
                  "btn_border_color":"",
                  "btn_border_size":"",
              },
          };
        },
        methods:{
            previewFiles() {
                this.file = this.$refs.image.files[0];
                this.logo_path = URL.createObjectURL(this.file);
            },
            sendForm() {
                let base = this;
                this.isLoading = true;

                let formData = new FormData();
                formData.append('logo_path', base.file);
                formData.append('widget_text', base.widget_text);
                formData.append('common_data', JSON.stringify(base.common_data));

                this.$store.dispatch('si/postForm', {
                    inputs: formData,
                    URL: base.urls.store,
                    method: 'post',
                    header:{
                        'Content-Type': 'multipart/form-data',
                    }
                }).then((response) => {
                    let data = response.data;
                    Vue.$toast.success(data.message);
                }).catch((errors) => {
                    Vue.$toast.error(errors.data.message);

                }).finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            get() {
                let base = this;
                base.tableRecords = [];
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit,
                    method: 'GET',
                }).then((response) => {
                    if(response.data) {
                        if(response.data.logo_path)
                            base.logo_path = "/storage/widget/"+response.data.logo_path;

                        base.common_data = response.data.common_data;
                        base.widget_text = response.data.widget_text;
                    }
                })
                .catch((errors) => {

                })
                .finally(() => {
                    this.isLoading = false;
                });
                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
        },
        created() {
            let base = this;

            base.get();
        }
    }
</script>

<style scoped>

</style>
