<template>
    <component @clickChangeComponent="onChangeComponent" v-bind:is="currentComp" :permissions="permissions" :urls="urls" :moduleData="moduleData" :is_edit="is_edit"></component>
</template>

<script>
    import List from './List';
    export default {
        name: "Master",
        props: ['propsPermissions', 'propsUrls', 'propsData'],
        components:{
            list:List,
        },
        data(){
            return{
                permissions: JSON.parse(this.propsPermissions),
                urls: JSON.parse(this.propsUrls),
                moduleData: JSON.parse(this.propsData),
                currentComp:'',
                is_edit:'',
            };
        },
        methods: {
            onChangeComponent(component = {name:'list',id:'new'}) {
                //this.$store.commit('si/earningPoints/initStates');
                this.currentComp = component.name;
                this.is_edit = component.id;
            },
        },
        mounted(){
            this.currentComp = 'list';
            this.is_edit = '';
        }
    };
</script>

<style scoped>

</style>
