<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="app-card">
            Create Edit
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapFields} from "vuex-map-fields";
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);

    var computedVar = "CHANGETHIS"; // also change in line 73
    export default {
        props:['permissions', 'urls', 'moduleData', 'is_edit'],
        components:{
            Loading
        },
        name: "CreateEdit",
        data(){
            return{
                isLoading:false,
            };
        },
        computed: {
            ...mapFields('si', [
                computedVar+'.formFields.id',
            ]),
            ...mapGetters({
                getErrors: `si/${computedVar}/getErrors`,
            }),
        },
        created() {

            if(typeof this.is_edit == 'number')
                this.editForm(this.is_edit);
        },
        methods:{
            changeComponent(component = 'createEdit',id) {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            editForm(id) {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit.replace('__', id),
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    this.$store.commit(`si/${computedVar}/setStates`, data);
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            sendForm() {
                let base = this, method = "post", url = this.urls.store;
                if(base.is_edit != "new"){
                    url = this.urls.update.replace('__', this.is_edit);
                    method = "put";
                }
                base.isLoading = true;
                base.$store.dispatch('si/postForm', {
                    inputs: this.$store.state.si.CHANGETHIS.formFields,
                    URL: url,
                    method: method,
                }).then((response) => {
                    let data = response.data;

                    Vue.$toast.success(data.message);
                    base.$emit('clickChangeComponent');

                    base.$store.commit(`si/${computedVar}/initError`)
                }).catch((errors) => {
                    if (errors.status === 422) {
                        base.$store.commit(`si/${computedVar}/setError`, errors.data);
                    } else {
                        Vue.$toast.error(errors.data.message);
                    }
                })
                    .finally(() => {
                        base.isLoading = false;
                    });
                return true;
            },
        }
    }
</script>

<style scoped>

</style>
