<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="dashboard-row">
            <div class="dashboard-info-item">
                <div class="info-box">
                    <div class="content">
                        <b>Campaigns</b>
                        <div class="number">2</div>
                    </div>
                    <i class="material-icons">playlist_add_check</i>
                </div>
            </div>

            <div class="dashboard-info-item">
                <div class="info-box">
                    <div class="content">
                        <b>Customers</b>
                        <div class="number">0</div>
                    </div>
                    <i class="material-icons">person</i>
                </div>
            </div>

            <div class="dashboard-info-item">
                <div class="info-box">
                    <div class="content">
                        <b>Availed Offers</b>
                        <div class="number">0</div>
                    </div>
                    <i class="material-icons">playlist_add_check</i>
                </div>
            </div>

        </div>

        <div class="app-card">
            <div class="app-card-header">
                <h6>Recent Customers</h6>
            </div>
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-scroll">
                        <thead>
                        <tr>
                            <th>#</th>

                        </tr>
                        </thead>
                        <tbody id="table-body-listing" v-show="!! tableRecords.length">
                        <tr v-for="(row,index) in tableRecords">
                            <td>{{ ++index }}</td>

                        </tr>
                        </tbody>
                        <tfoot v-show="!! !tableRecords.length">
                        <tr>
                            <td colspan="1" class="text-center"> No Records Found.</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
        },
        name: "List",
        data(){
          return{
              isLoading:false,
              tableRecords:[],
              tableLastPage:1,
              tablePage:1,
          };
        },
        methods:{
            loadMore () {
                let base = this;

                if(base.tablePage <= base.tableLastPage) {
                    base.isLoading = true;
                    this.$store.dispatch('si/getEntity', {
                        inputs: {},
                        URL: this.urls.index+"&page="+base.tablePage,
                        method: 'GET',
                    }).then((response) => {
                        base.tableRecords = base.tableRecords.concat(response.data.data);
                        base.tablePage++;
                        if(base.tableLastPage == 1)
                            base.tableLastPage = response.data.last_page;

                    })
                    .catch((errors) => {

                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
                }

                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
        },
        mounted() {
            const listElm = document.querySelector('#table-body-listing');
            listElm.addEventListener('scroll',
                e => {
                    if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
                        this.loadMore();
                    }
                });
            this.loadMore();
        }
    }
</script>

<style scoped>
    .table-scroll tbody{
        display: block;
        height: 500px;
        overflow: auto;
    }

    .table-scroll thead,
    .table-scroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
