<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3 v-if="is_edit=='new'">Add Campaign</h3>
            <h3 v-else>Update Campaign</h3>
        </div>
        <div class="app-card careate-box">
            <div class="app-card-header">
                <h6>Campaign Setup</h6>
            </div>
            <div class="app-card-body">
                <ul class="list-unstyled app-steps">
                    <li :class="{'active': activeTab == 1}" @click="activeTab = 1"><a href="#">1. Campaign Info</a></li>
                    <li :class="{'active': activeTab == 2}" @click="activeTab = 2"><a href="#">2. Set Target</a></li>
                    <li :class="{'active': activeTab == 3}" @click="activeTab = 3"><a href="#">3. Discount Rule</a></li>
                </ul>

                <div class="app-card-content" v-if="activeTab == 1">
                    <div class="input-filed">
                        <label>Campaign Name</label>
                        <input type="text" class="form-control" placeholder="Campaign Name" v-model="label">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.label">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Start At</label>
                        <div>
                            <date-picker v-model="start_at" type="date" value-type="format" format="YYYY-MM-DD" :disabled-date="notBeforeToday"></date-picker>
                        </div>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.start_at">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>End At</label>
                        <div>
                            <date-picker v-model="end_at" type="date" value-type="format" format="YYYY-MM-DD" :disabled-date="notAfterStartAt"></date-picker>
                        </div>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.end_at">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Status</label>
                        <toggle-button v-model="status" :sync="true" :value="!! status"
                                       :labels="{checked: 'Enable', unchecked: 'Disable'}"/>
                    </div>

                </div>

                <div class="app-card-content" v-if="activeTab == 2">
                    <div class="input-filed">
                        <label>Customer Level</label>
                        <select class="form-control" v-model="customer_level_id">
                            <option value="" disabled>--Select--</option>
                            <option v-for="(item, index) in options.customerLevel"  :value="item.id">{{item.label}}</option>
                        </select>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.customer_level_id">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Type</label>
                        <select v-if="is_edit == 'new'" class="form-control" @change="toggleField" v-model="type">
                            <option value="" disabled>--Select--</option>
                            <option value="campaign" >Campaign</option>
                            <option value="offer" >Offer</option>
                        </select>

                        <input v-else type="text" class="form-control" disabled  :value=" type ">

                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.type">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed" v-if="type=='campaign'">
                        <label>Customer Age</label>

                        <input type="number" class="form-control" min="1" max="100" placeholder="Age From" :disabled="is_edit == 'new' ? false: true" v-model="customer_age_from">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.customer_age_from">
                                <div>{{error}}</div>
                            </small>
                        </div>

                        <label>To</label>

                        <input type="number" class="form-control" min="1" max="100" placeholder="Age To" :disabled="is_edit == 'new' ? false: true"  v-model="customer_age_to">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.customer_age_to">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed" v-if="type=='campaign'">
                        <label>Customer Gender</label>
                        <select class="form-control" :disabled="is_edit == 'new' ? false: true" v-model="customer_gender">
                            <option value="" disabled>--Select--</option>
                            <option value="male" >Male</option>
                            <option value="female" >Female</option>
                            <option value="other" >Other</option>
                            <option value="other" >All</option>
                        </select>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.customer_gender">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                    <div class="input-filed">
                        <label>Earning Points</label>
                        <select class="form-control" v-model="earning_point_id">
                            <option value="">--Select--</option>
                            <option v-for="(item, index) in options.earningPoints"  :value="item.id">{{item.label}}</option>
                        </select>
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.earning_point_id">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>

                </div>

                <div class="app-card-content" v-if="activeTab == 3">

                    <div class="input-filed">
                        <label>Discount Code</label>
                        <select v-if="is_edit == 'new'" class="form-control" @change="changeDiscount" v-model="discount_id">
                            <option value="">--Select--</option>
                            <option v-for="(item, index) in options.discountCode"  :value="item.id">{{item.discount_code}}</option>
                        </select>

                        <input v-else type="text" class="form-control" disabled placeholder="Discount Code" :value=" selected_discount ? selected_discount.discount_code: '' ">


                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.discount_id">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>
                    <div class="input-filed">
                        <label>Summary</label>
                        <input type="text" class="form-control" disabled placeholder="Summary" :value=" selected_discount ? selected_discount.summary: '' ">
                    </div>

                    <div class="input-filed">
                        <label>Required Points</label>
                        <input type="number" class="form-control" placeholder="Require Points" v-model="require_points">
                        <div v-if="getErrors" class="text-danger">
                            <small v-for="error in getErrors.require_points">
                                <div>{{error}}</div>
                            </small>
                        </div>
                    </div>
                </div>

                <div class="app-card-footer">
                    <a href="#" class="btn-sm btn-gray" v-if="activeTab != 1" @click="activeTab--">Previous</a>
                    <a href="#" class="btn-sm btn-primary" v-if="activeTab != 3" @click="activeTab++">Next</a>
                    <a href="#" class="btn-sm btn-primary" @click="sendForm" v-if="activeTab == 3" >Save</a>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapFields} from "vuex-map-fields";
    import Loading from 'vue-loading-overlay';
    Vue.use(Loading);

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { ToggleButton } from 'vue-js-toggle-button';

    var computedVar = "campaign";
    export default {
        props:['permissions', 'urls', 'moduleData', 'is_edit'],
        components:{
            Loading,
            DatePicker,
            ToggleButton
        },
        name: "CreateEdit",
        data(){
            return{
                isLoading:false,
                activeTab:1,
                options:{
                    discountCode:[],
                    customerLevel:[],
                    earningPoints:[],
                },
                selected_discount:'',
            };
        },
        computed: {
            ...mapFields('si', [
                computedVar+'.formFields.id',
                computedVar+'.formFields.type',
                computedVar+'.formFields.label',
                computedVar+'.formFields.status',
                computedVar+'.formFields.start_at',
                computedVar+'.formFields.end_at',
                computedVar+'.formFields.customer_level_id',
                computedVar+'.formFields.customer_age_from',
                computedVar+'.formFields.customer_age_to',
                computedVar+'.formFields.customer_gender',
                computedVar+'.formFields.earning_point_id',
                computedVar+'.formFields.require_points',
                computedVar+'.formFields.discount_id',
            ]),
            ...mapGetters({
                getErrors: `si/${computedVar}/getErrors`,
            }),
        },
        created() {
            this.getdiscountCode();
            this.get('customerLevel');
            this.get('earningPoints');

            if(typeof this.is_edit == 'number')
                this.editForm(this.is_edit);
        },
        methods:{
            toggleField(){
                this.getdiscountCode();
                if(this.type == "offer"){
                    this.customer_age_from = "";
                    this.customer_age_to = "";
                    this.customer_gender = "";
                }

            },
            changeDiscount() {
                let base = this;
                console.log(base.options.discountCode);
                base.selected_discount = base.options.discountCode.find(item => item.id === base.discount_id)
            },
            notBeforeToday(date) {
                return date < moment().subtract(1,'day');
            },
            notAfterStartAt(date) {
                if(this.start_at)
                    return  date < moment(this.start_at).add(1,"day");
                else
                    return  true;
            },
            changeComponent(component = 'createEdit',id) {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
            editForm(id) {
                let base = this;
                base.isLoading = true;
                this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.edit.replace('__', id),
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    base.$store.commit(`si/${computedVar}/setStates`, data);
                }).then((response) => {
                    if(base.type=='offer')
                        base.getdiscountCode();
                }).then((response) => {
                    setTimeout(function(){
                        base.changeDiscount();
                    },100);
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            sendForm() {
                let base = this, method = "post", url = this.urls.store;
                if(base.is_edit != "new"){
                    url = this.urls.update.replace('__', this.is_edit);
                    method = "put";
                }


                base.isLoading = true;
                base.$store.dispatch('si/postForm', {
                    inputs: this.$store.state.si.campaign.formFields,
                    URL: url,
                    method: method,
                }).then((response) => {
                    let data = response.data;

                    Vue.$toast.success(data.message);
                    base.$emit('clickChangeComponent');

                    base.$store.commit(`si/${computedVar}/initError`)
                }).catch((errors) => {
                    if (errors.status === 422) {
                        base.$store.commit(`si/${computedVar}/setError`, errors.data);
                    } else {
                        Vue.$toast.error(errors.data.message);
                    }
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            async getdiscountCode() {
                let base = this;
                base.isLoading = true;
                await this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.discount_code+"?type=campaign&mode="+base.is_edit+"&filter="+base.type,
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    base.options.discountCode = data;
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
            async get(type = "customerLevel") {
                let base = this;
                base.isLoading = true;
                await this.$store.dispatch('si/getEntity', {
                    inputs: {},
                    URL: this.urls.index+"&type="+type,
                    method: 'GET',
                }).then((response) => {
                    let data = response.data;
                    if(type == 'customerLevel')
                        base.options.customerLevel = data;
                    else if(type == 'earningPoints')
                        base.options.earningPoints = data;
                })
                .catch((errors) => {
                    Vue.$toast.error('Something went wrong try again');
                })
                .finally(() => {
                    base.isLoading = false;
                });
                return true;
            },
        }
    }
</script>

<style>
    .vue-js-switch .v-switch-core{
        width:70px !important;
    }

    .vue-js-switch .v-switch-button{
        left: 2px !important;
    }
    .vue-js-switch.toggled .v-switch-button{
        left: 18px !important;
    }

</style>
