<template>
    <div>
        <loading :active.sync="isLoading"
                 :is-full-page="true"></loading>
        <div class="block-header text-center">
            <h3>Campaign</h3>
        </div>

        <div class="app-card">
        <div class="app-card-header">
            <h6>Campaigns</h6>
            <span class="float-right" @click="changeComponent('create-edit', 'new')"> Add New</span>
        </div>
        <div class="app-card-body">
            <div class="row">
                <div class="table-responsive col-md-6">
                    <table class="table table-hover table-scroll">
                        <thead>
                        <tr>
                            <th>Campaign Name</th>
                            <th>Type</th>
                            <th>Start At</th>
                            <th>End At</th>
                            <th>Target Level</th>
                            <th>Discount Code</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="table-body-listing" v-show="!! tableRecords.length">
                        <tr v-for="(row,index) in tableRecords">
                            <td class="text-capitalize"> {{row.label}} </td>
                            <td class="text-capitalize"> {{row.type}} </td>
                            <td class="text-capitalize"> {{ changeDateFormat(row.start_at) }} </td>
                            <td class="text-capitalize"> {{ changeDateFormat(row.end_at) }} </td>
                            <td class="text-capitalize"> {{row.belongs_to_customer_level.label}} </td>

                            <td class="text-capitalize"> {{ row.belongs_to_discount ? row.belongs_to_discount.discount_code: ''}}</td>
                            <td class="text-capitalize"> {{ row.status == 1 ? 'Enable': 'Disable'}}</td>
                            <td><a href="#" class="btn-sm app-action-url" @click="changeComponent('create-edit', row.id)">
                                <i class="material-icons">edit</i>
                            </a></td>
                        </tr>
                        </tbody>
                        <tfoot v-show="!! !tableRecords.length">
                        <tr>
                            <td colspan="3" class="text-center"> No Records Found.</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';

    Vue.use(Loading);
    export default {
        props:['permissions', 'urls', 'moduleData'],
        components:{
            Loading,
        },
        name: "List",
        data(){
          return{
              isLoading:false,
              tableRecords:[],
              tableLastPage:1,
              tablePage:1,
          };
        },
        methods:{
            changeDateFormat(date){
                if(date)
                    return moment(date).format('YYYY-MM-DD')
                return "---";
            },
            loadMore () {
                let base = this;

                if(base.tablePage <= base.tableLastPage) {
                    base.isLoading = true;
                    this.$store.dispatch('si/getEntity', {
                        inputs: {},
                        URL: this.urls.index+"&page="+base.tablePage,
                        method: 'GET',
                    }).then((response) => {
                        base.tableRecords = base.tableRecords.concat(response.data.data);
                        base.tablePage++;
                        if(base.tableLastPage == 1)
                            base.tableLastPage = response.data.last_page;

                    })
                    .catch((errors) => {

                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
                }

                return true;
            },
            changeComponent(component = 'list',id = 'new') {
                this.$emit('clickChangeComponent', {name:component,id:id});
            },
        },
        mounted() {
            const listElm = document.querySelector('#table-body-listing');
            listElm.addEventListener('scroll',
                e => {
                    if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
                        this.loadMore();
                    }
                });
            this.loadMore();
        }
    }
</script>

<style scoped>
    .table-scroll tbody{
        display: block;
        height: 500px;
        overflow: auto;
    }

    .table-scroll thead,
    .table-scroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
