* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #e9e9e9;
  font-family: 'Quicksand', sans-serif;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

.form-control::placeholder {
  color: #999;
  opacity: 1;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

h6 {
  font-weight: 700;
  font-size: 1.125rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.btn {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  font-size: 13px;
  outline: none;
  font-weight: bold;
  padding: 12px 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.btn-sm {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0;
  font-size: 0.875rem;
  cursor: pointer;
}

.btn-gray {
  background: #eee;
  color: #aaa;
}

.btn-sucess {
  background-color: #512F6C;
  color: #fff;
}

.btn-sucess:hover {
  background-color: #3d1f54;
  color: #fff;
}

.btn-primary {
  background: #009688;
  color: #fff;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-header .app-brand {
  color: #512F6C;
  padding: 20px 0;
  display: inline-block;
  font-size: 1.125rem;
}

.app-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bars {
  float: left;
  text-decoration: none;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 10px;
}

@media (min-width: 1025px) {
  .bars {
    display: none;
  }
}

.bars:before, .bars:after {
  font-family: 'Material Icons';
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bars:before {
  content: '\E5D2';
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bars:after {
  content: '\E5C4';
  -webkit-transform: scale(0);
          transform: scale(0);
}

.bars.active:before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.bars.active:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.app-sidebar {
  padding-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fdfdfd;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  height: calc(100vh - 63px);
  position: fixed;
  top: 63px;
  left: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.5s;
  z-index: 999;
}

@media (max-width: 1024px) {
  .app-sidebar {
    left: -300px;
  }
}

.app-sidebar.active {
  left: 0;
}

.app-sidebar ul li {
  margin: 0px 1rem;
}

.app-sidebar ul li a {
  width: 100%;
  padding: 10px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.app-sidebar ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-sidebar ul li a span .app-side-icon {
  margin-right: 12px;
}

.app-sidebar ul li a.active {
  background-color: #512F6C;
  -webkit-box-shadow: 1px 2px 10px #ccc;
          box-shadow: 1px 2px 10px #ccc;
  color: #fff;
}

.app-sidebar ul li ul li a {
  padding-left: 55px;
}

.app-sidebar ul li.submenu > a {
  position: relative;
}

.app-sidebar ul li.submenu > a:after {
  content: '+';
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
}

.app-sidebar ul li.submenu.active > a:after {
  content: '-';
}

.app-sidebar ul li.submenu.active > ul {
  height: auto;
}

.app-sidebar ul li.submenu > ul {
  height: 0;
  overflow: hidden;
}

.app-content {
  float: left;
  margin-left: 300px;
  width: calc(100% - 300px);
  height: calc(100vh - 63px);
  overflow: auto;
  margin-top: 63px;
  padding: 25px;
}

@media (max-width: 1024px) {
  .app-content {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }
}

.block-header {
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .block-header {
    margin-bottom: 15px;
  }
}

.careate-box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .careate-box {
    width: 100%;
  }
}

.app-card {
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border-radius: 2px;
}

.app-card .app-card-header {
  padding: 1.25rem;
  background-color: #512F6C;
  color: #fff;
}

.app-card .app-card-body {
  font-size: 14px;
  color: #555;
  padding: 1.25rem;
}

.app-card .app-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.app-card .app-card-footer a:not(:last-child) {
  margin-right: 10px;
}

.app-steps {
  margin-right: -7px;
  margin-left: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 14px;
}

.app-steps li {
  padding-left: 7px;
  padding-right: 7px;
  width: 33.333%;
}

.app-steps li a {
  display: block;
  background: #eee;
  color: #aaa;
  padding: 1.1rem 0.9rem;
  text-align: center;
}

.app-steps li.active a {
  background-color: #009688;
  color: #fff;
}

.app-card-content {
  border: 1px solid #ddd;
  padding: 1rem;
}

.input-filed label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.875rem;
  display: inline-block;
}

.input-filed:not(:last-child) {
  margin-bottom: 15px;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table tbody > tr:hover {
  background-color: #f5f5f5;
}

.table th {
  padding: 10px;
  border-bottom: 1px solid #eee;
  vertical-align: bottom;
  text-align: left;
  white-space: nowrap;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  white-space: nowrap;
}

.app-label {
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #512F6C;
}

.app-action-url {
  background-color: #ff9600;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .app-action-url {
    padding: 0.4em 0.7em;
  }
}

.app-action-url:hover {
  color: #fff;
}

.app-action-url i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.app-action-edit {
  background-color: #00b0e4;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .app-action-edit {
    padding: 0.4em 0.7em;
  }
}

.app-action-edit:hover {
  color: #fff;
}

.app-action-edit i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.app-action-delete {
  background-color: #fb483a;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .app-action-delete {
    padding: 0.4em 0.7em;
  }
}

.app-action-delete:hover {
  color: #fff;
}

.app-action-delete i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.earning-box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .earning-box {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .earning-box {
    width: 90%;
  }
}

.card-inside-title {
  margin-bottom: 15px;
  color: #000;
}

.app-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.event-box-list .event-box-item {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .event-box-list .event-box-item {
    width: 100%;
  }
}

.dashboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.dashboard-info-item {
  width: 33.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 991px) {
  .dashboard-info-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .dashboard-info-item {
    width: 100%;
  }
}

.info-box {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box:hover:after {
  width: 100%;
}

.info-box i {
  color: #512F6C;
  font-size: 3.75rem;
}

.info-box b {
  color: #512F6C;
}

.info-box .number {
  font-size: 26px;
  color: #555;
}

.switch label {
  font-weight: bold;
  font-size: 14px;
  color: #512F6C;
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #26a69a;
  left: 24px;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #F1F1F1;
  border-radius: 21px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
}

.wrapper {
  padding: 2rem 0;
}

.wrapper h1 {
  font-size: 2.25rem;
  margin-bottom: 3.125rem;
}

.choose-plan-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
}

.col {
  width: 350px;
  min-height: 565px;
  text-align: center;
  margin: 20px;
}

.col .card {
  height: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 25px 0px rgba(143, 85, 85, 0.1);
          box-shadow: 1px 1px 25px 0px rgba(143, 85, 85, 0.1);
  background-color: #fff;
}

.col .card .card-header {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

.col .card .card-header .title {
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(37, 36, 53, 0.9);
  letter-spacing: 2px;
}

.col .card .card-header .price {
  font-size: 2.5em;
  color: #ff5a5f;
  margin: 0 auto;
  padding: 10px;
}

.col .card .card-header .price span {
  font-size: 0.5em;
  color: inherit;
}

.col .card .card-header .description {
  color: rgba(37, 36, 53, 0.7);
}

.col .card .card-header .line {
  width: 25%;
  margin: 15px auto 0;
  height: 3px;
  background-color: rgba(255, 90, 95, 0.9);
}

.col .card .features {
  height: 70%;
  text-align: left;
  list-style: none;
  padding: 1rem;
}

.col .card .features li {
  color: rgba(37, 36, 53, 0.7);
  margin-bottom: 1rem;
}

.col .card .features li .fa-check {
  color: #5ECD1A;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {
  color: #fff;
}

.alert {
  padding: 6px 12px;
  margin-bottom: 0px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
/*# sourceMappingURL=style.css.map */


.app-card .app-card-header a {
  color: #fff;
  font-weight: 600;
  background-color: #ff9600;
  padding: 10px 20px;
  border: 2px solid #ff9600;
  transition: all 0.5s;
}
.app-card .app-card-header a:hover{
  border: 2px solid #ff9600;
  background-color: transparent;
}
.app-card .app-card-header span.float-right:hover {
  border: 2px solid #ff9600;
  background-color: transparent;
}
.app-card .app-card-header span.float-right {
  cursor: pointer;
  font-weight: 600;
  background-color: #ff9600;
  padding: 10px 20px;
  border: 2px solid #ff9600;
  transition: all 0.5s;
}
.app-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-card-content .input-filed img.avatar {
  max-width: 10%;
}
.input-group-addon.color-picker-container .vc-chrome {
  left: 30px;
  top: 0;
}
.input-group-addon.color-picker-container {
  display: inline-block;
  vertical-align: sub;
  position: relative;
}
.back-to-home-btn {
  margin: 0px 75px;
  text-align: center;
}

.back-to-home-btn-inner {
  color: #fff;
  font-weight: 600;
  background-color: #ff9600;
  padding: 10px 20px;
  border: 2px solid #ff9600;
  transition: all 0.5s;
  float: left;
}
.back-to-home-btn h1.text-center {
  display: inline-block;
  margin-left: -150px;
}
.back-to-home-btn-inner:hover{
color: #000;
border: 2px solid #ff9600;
background-color: transparent;
}
.app-card.customer-level-main .app-card-body .col-md-4 {
  max-width: 39%;
  display: inline-block;
  vertical-align: top;
}
.app-card.customer-level-main .app-card-body .table-responsive.col-md-6 {
  max-width: 60%;
  display: inline-block;
}
@media(max-width: 991px){
.back-to-home-btn h1.text-center {
  display: block;
  margin: 20px 0 0 0;
}
.back-to-home-btn-inner{
float: none;
}
}