*{
    
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-appearance: none;
    outline:none;
    margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	@media (max-width:1024px){
		font-size: 14px;
	}
}
body{
	background-color: #e9e9e9;
	font-family: 'Quicksand', sans-serif;
}
.form-control::-webkit-input-placeholder {
color: #999;
opacity: 1;
}

.form-control::-moz-placeholder {
color: #999;
opacity: 1;
}

.form-control:-ms-input-placeholder {
color: #999;
opacity: 1;
}

.form-control::-ms-input-placeholder {
color: #999;
opacity: 1;
}

.form-control::placeholder {
color: #999;
opacity: 1;
}
a{
	color: #337ab7;
	text-decoration: none;
	&:hover,
	&:focus{
		color: #23527c;
	}
}
h1,h2,h3,h4,h5{
	margin: 0;
}
h3{
	font-weight: 700;
	font-size: 1.5rem;
}
h6{
	font-weight: 700;
	font-size: 1.125rem;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.btn{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
    font-weight: bold;
    padding: 12px 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
.btn-sm{
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 0;
	font-size: 0.875rem;
	cursor: pointer;
}
.btn-gray{
	background: #eee;
    color: #aaa;
}
.btn-sucess{
	background-color: #512F6C;
	color: #fff;
	&:hover{
		background-color: #3d1f54;
		color: #fff;
	}
}
.btn-primary{
	background: #009688;
    color: #fff;
}
.list-unstyled{
	list-style: none;
    margin: 0;
    padding: 0;
}
.text-center{
	text-align: center;
}
.form-control{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.app-header{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
	padding-right: 15px;
    padding-left: 15px;
	background: #fff;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
	display: flex;
    align-items: center;
    justify-content: space-between;
	
	.app-brand{
		color: #512F6C;
		padding: 20px 0;
		display: inline-block;
		font-size: 1.125rem;
	}
}
.app-left-side{
	display: flex;
	align-items: center;
}
.bars{
	float: left;
	text-decoration: none;
	width: 24px;
	height: 24px;
	position: relative;
	margin-right: 10px;
	@media (min-width:1025px){
		display: none;
	}
	&:before,
	&:after{
		font-family: 'Material Icons';
		font-size: 24px;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(0);
		transition: all 0.3s;
	}
	&:before{
		content: '\E5D2';
		transform: scale(1);
	}
	&:after{
		content: '\E5C4';
		transform: scale(0);
	}
	&.active{
		&:before{
			transform: scale(0);
		}
		&:after{
			transform: scale(1);
		}
	}
}
.app-sidebar{
	padding-top: 20px;
    transition: all 0.5s;
    background: #fdfdfd;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 63px);
    position: fixed;
    top: 63px;
    left: 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	transition: all 0.5s;
	z-index: 999;
	@media (max-width:1024px){
		left: -300px;
	}
	&.active{
		left: 0;
	}
	ul{
		li{
			margin: 0px 1rem;
			a{
				width: 100%;
				padding: 10px 13px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: #333;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				span{
					display: flex;
					align-items: center;
					.app-side-icon{
						margin-right: 12px;
					}
				}
				&.active{
					background-color: #512F6C;
					box-shadow: 1px 2px 10px #ccc;
					color: #fff;
				}
			}
			ul{
				li{
					a{
						padding-left: 55px;
					}
				}
			}
			&.submenu{
				& > a{
					position: relative;
					&:after{
						content: '+';
						font-size: 25px;
						line-height: 1;
						font-weight: 400;
					}
				}
				&.active{
					& > a{
						&:after{
							content: '-';
						}
					}
					& > ul{
						height: auto;
					}
				}
				& > ul{
					height: 0;
					overflow: hidden;
				}
			}
		}
	}
}

.app-content{
	float: left;
    margin-left: 300px;
    width: calc(100% - 300px);
    height: calc(100vh - 63px);
	overflow: auto;
	margin-top: 63px;
	padding: 25px;
	@media (max-width:1024px){
		margin-left: 0;
		width: 100%;
		padding: 15px;
	}
}
.block-header{
	margin-bottom: 30px;
	@media (max-width:1024px){
		margin-bottom: 15px;
	}
}
.careate-box{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width:992px){
		width: 100%;
	}
}
.app-card{
	background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
	border-radius: 2px;
	.app-card-header{
		padding: 1.25rem;
		background-color: #512F6C;
		color: #fff;
	}
	.app-card-body{
		font-size: 14px;
		color: #555;
		padding: 1.25rem;
	}
	.app-card-footer{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 10px;
		a{
			&:not(:last-child){
				margin-right: 10px;
			}
		}
	}
}
.app-steps{
	margin-right: -7px;
	margin-left: -7px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 14px;
	li{
		padding-left: 7px;
		padding-right: 7px;
		width: 33.333%;
		a{
			display: block;
			background: #eee;
			color: #aaa;
			padding: 1.1rem 0.9rem;
			text-align: center;
		}
		&.active{
			a{
				background-color: #009688;
				color: #fff;
			}
		}
	}
}

.app-card-content{
	border: 1px solid #ddd;
	padding: 1rem;
}
.input-filed{
	label{
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 0.875rem;
		display: inline-block;
	}
	&:not(:last-child){
		margin-bottom: 15px;
	}
}
.table-responsive{
	min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
	margin-bottom: 20px;
	tbody > tr:hover{
		background-color: #f5f5f5;
	}
	th{
		padding: 10px;
		border-bottom: 1px solid #eee;
		vertical-align: bottom;
		text-align: left;
		white-space: nowrap;
	}
	td{
		padding: 10px;
		border-bottom: 1px solid #eee;
		vertical-align: middle;
		white-space: nowrap;
	}
}
.app-label{
	display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
	vertical-align: baseline;
	background-color: #512F6C;
}
.app-action-url{
	background-color: #ff9600;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
	border: none;
	margin: 0 2px;
	@media (max-width:992px){
		padding: 0.4em 0.7em;	
	}
	&:hover{
		color: #fff;
	}
	i{
		font-size: 20px;
		position: relative;
		top: 1px;
	}
}
.app-action-edit{
	background-color: #00b0e4;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
	border: none;
	margin: 0 2px;
	@media (max-width:992px){
		padding: 0.4em 0.7em;	
	}
	&:hover{
		color: #fff;
	}
	i{
		font-size: 20px;
		position: relative;
		top: 1px;
	}
}
.app-action-delete{
	background-color: #fb483a;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
	border: none;
	margin: 0 2px;
	@media (max-width:992px){
		padding: 0.4em 0.7em;	
	}
	&:hover{
		color: #fff;
	}
	i{
		font-size: 20px;
		position: relative;
		top: 1px;
	}
}
.earning-box{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width:1024px){
		width: 80%;	
	}
	@media (max-width:767px){
		width: 90%;	
	}
}
.card-inside-title{
	margin-bottom: 15px;
	color: #000;
}
.app-icon-list{
	display: flex;
	align-items: center;
}
.event-box-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	.event-box-item{
		width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width:992px){
			width: 100%;
		}
	}
}

.dashboard-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.dashboard-info-item{
	width: 33.33333333%;
	padding-left: 15px;
	padding-right: 15px;
	@media (max-width: 991px){
		width: 50%;
	}
	@media (max-width: 767px){
		width: 100%;
	}
}
.info-box{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 11px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: #fff;
    position: relative;
    overflow: hidden;
	margin-bottom: 30px;
	&:after{
		content: "";
		background-color: rgba(0, 0, 0, 0.05);
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		transition: all 0.95s;
	}
	&:hover{
		&:after{
			width: 100%;
		}
	}
	i{
		color: #512F6C;
		font-size: 3.75rem;
	}
	b{
		color: #512F6C;
	}
	.number{
		font-size: 26px;
		color: #555;
	}
}
.switch label{
	font-weight: bold;
    font-size: 14px;
    color: #512F6C;
	cursor: pointer;
	input[type=checkbox]{
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: #84c7c1;
  }
  
  .switch label input[type=checkbox]:checked + .lever:after {
	background-color: #26a69a;
	left: 24px;
  }
  
  .switch label .lever {
	content: "";
	display: inline-block;
	position: relative;
	width: 40px;
	height: 15px;
	background-color: #818181;
	border-radius: 15px;
	margin-right: 10px;
	transition: background 0.3s ease;
	vertical-align: middle;
	margin: 0 16px;
  }
  
  .switch label .lever:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 21px;
	height: 21px;
	background-color: #F1F1F1;
	border-radius: 21px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
	left: -5px;
	top: -3px;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  }
  .wrapper{
	  padding: 2rem 0;
	  h1{
		  font-size: 2.25rem;
		  margin-bottom: 3.125rem;
	  } 
  }

  .choose-plan-row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
  }
  .col{
	width: 350px;
	min-height: 565px;
	text-align: center;
	margin: 20px;

	.card {
		height: 100%;
		padding: 1rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 1px 1px 25px 0px rgba(143, 85, 85, 0.1);
		background-color: #fff;

		.card-header {
			height: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-bottom: 2rem;
			.title {
				font-size: 1.5em;
				font-weight: bold;
				color: rgba(37, 36, 53, 0.9);
				letter-spacing: 2px;
			}
			.price {
				font-size: 2.5em;
				color: #ff5a5f;
				margin: 0 auto;
				padding: 10px;
				span {
					font-size: 0.5em;
					color: inherit;
				}
			}
			.description {
				color: rgba(37, 36, 53, 0.7);
			}
			.line {
				width: 25%;
				margin: 15px auto 0;
				height: 3px;
				background-color: rgba(255, 90, 95, 0.9);
			}
		}

		.features {
			height: 70%;
			text-align: left;
			list-style: none;
			padding: 1rem;
			li{
				color: rgba(37, 36, 53, 0.7);
				margin-bottom: 1rem;
				.fa-check {
					color: #5ECD1A;
				}
			}
		}

	}
}
.btn-success{
	color: #fff;
    background-color: #5cb85c;
	border-color: #4cae4c;
	&:hover{
		color: #fff;	
	}
}

.alert {
    padding: 6px 12px;
    margin-bottom: 0px;
	font-weight: bold;
	border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}